:root {
    --md-primary-fg-color:        #233150;
    --md-primary-fg-color--light: #31aa98;
    --md-primary-fg-color--dark:  #1f2b47;
}

/* .md-header {
    /* border-bottom: 2px solid #31aa98; */
} */

.md-tabs {
    color: var(--md-primary-bg-color);
    background-color: var(--md-primary-fg-color--dark);
}